/* Define a simple fade-in/fade-out animation */
.tab-fade-enter {
  opacity: 0;
}

.tab-fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.tab-fade-exit {
  opacity: 1;
}
.dd{
  background: #333;
}
.tab-fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
/* Apply styles to the image element */
.image__preview {
  max-width: 100%; /* Ensure the image doesn't exceed its natural size */
  height: 100%; /* Maintain the aspect ratio when resizing */
  display: block; /* Remove any extra spacing below the image */
  margin: 0 auto; /* Center the image on the page */
  width: 50%;
}

.container {
  max-width: 800px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the container on the page */
}
